
body {
  background-color: #DBE6FD;
}

hr {
  border-color: #B2AB8C;
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 6px;
  width: 8%;
}
