
body {
  background-color: #E9D5CA;
}

h1 {
  color: #363062;
}

h3 {
  color: #4D4C7D;
}

hr {
  border-color: #4D4C7D;
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 6px;
  width: 8%;
}

